#
# sync script path
#
# Usage: <Sync> <srcdir> <bucket> <destdir>
#
Sync=/backup/sync

#
# Temporary directory for storing backup files
#
BackupTmpDir=/backup/tmp

#
# Log directory
#
LogDir=/backup/log

#
# folder name
#
Folder=`hostname`

#
# Buckets to rotation
#
Buckets=

#
# Days for which you desire to save cloud
#
MaxAge=5

#
# Days for which you desire to save logfiles
#
MaxLogAge=20
